<div class= "pagetitle">
<h1>About Me</h1>
</div>

<div class="container">
    <div class= "pagetext">
<div id="headshot-container">
<span>
 <%= image_tag('FBProfile.jpg', alt: 'Dana L. Terry Profile Picture', class: 'dana-img')  %>	
</span>
</div>
<div id="about-container">
<p class="profile">
  Innovation and creativity are the lifeblood which pumps through my projects. My past few years in Nicaragua have been spent 
  working directly for two Non-Government Organizations working on economic development and human rights advocacy as a kind of 
  ‘intraprenuer’, partnering with various other civil society institutions in the region, coaching local entrepreneurs, starting 
  my own small business, and starting projects to increase access to and understanding of technology. Now, I am focused on 
  supplementing my international development, art, and graphic design/product design experience with advancng my coding experience. 
  My budding artistic clothing business in Nicaragua, <a href= "https://www.facebook.com/vagosjourney/Vagos" target="blank">Vagos</a>, 
  is the result of my own initiative to learn as much about graphic design/ product design on my own while creating my own opportunities for 
  applying my knowledge. The profits from <a href= "https://www.facebook.com/vagosjourney/Vagos" target="blank">Vagos</a>
  have gone towards financing an NGO I have co-founded called <a href="http://synapticcommunities.strikingly.com/#meet-our-team"target="blank">Synaptic Communities</a>. 
  The intersections of my passions for international development, tech, and art have lead to two mobile app mock-ups and 
  one mobile app MVP (Minimum Viable Product) as well as a variety of pieces of art and logo branding projects. 
  Ideas still abound. I'm just getting started.</p> 

<p>One tech innovation projects is an app called ‘Startup Nation’ I designed to connect youth to opportunity in Latin America. 
  The MVP (Minimum Viable Product), was created in conjunction with World Tech Makers where I lead a group of student 
  coders in Colombia and has been rolled out in Medellin. My long-term vision for the app will be completed utilizing 
  the HTML5, CSS3, JavaScript, JQuery Mobile, and Ruby coding skills I have recently attained.</p> 

<p>I am also the creative brain behind the
   <a href="http://synapticcommunities.strikingly.com/#meet-our-team"target="blank">Synaptic Communities</a> logo 
   design, branding, and website. Aside from being the co-founder, I have served as the organization's graphic designer, coder, 
   and program designer. I am currently working on Synaptic Communities' permanent mobile app.</p>

<p>I hold an M.A. degree in International Relations and Diplomacy from Seton Hall University specializing in Post-Conflict 
  Community Development and International Organizations as well as a B.A. degree in International Affairs from Florida State 
  University. I am also a self-taught graphic designer and a graduate of a mobile app coding course as well as a soon-to-be 
  graduate of the I/O Avenue Coding Academy Bootcamp. I am well-versed with Adobe Illustrator, Photoshop, and Sketch and the 
  coding skills I have gained include: HTML, CSS, Javascript (frontend), Ruby on Rails (backend), SQL (databases), Git and 
  Github (source code management), Object Oriented Programming (OOP), Agile Methodology, and MVC Paradigm</p> 

<div class ="buttons">
<a class="btn btn-outline-dark" href="https://github.com/DanaLTerry" role="button" target="_blank">GitHub</a>
 <a class="btn btn-outline-dark" href="https://www.linkedin.com/in/terrydana/" role="button" target="_blank">LinkedIn</a>
  <a class="btn btn-outline-dark" href="mailto:danaleeterry@gmail.com" role="button" target="_blank">danaleeterry@gmail.com</a>
  <a class="btn btn-outline-dark" href="https://www.facebook.com/danalterryartist/" role="button" target="_blank">@danalterryartist</a>
  <a class="btn btn-outline-dark" href="https://www.facebook.com/vagosjourney/" role="button" target="_blank">Vagos</a>
  <a class="btn btn-outline-dark" href="http://synapticcommunities.strikingly.com/" role="button" target="_blank">Synaptic Communities</a>

      </div>
 </div>

<br/>
<br/>
</div>

					
<div class="copyright">
		<p>Copyright  Dana L. Terry. All rights reserved.</p>
	  </div>

</div>